services:
  python-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: python-app:v1
    container_name: python-app
    ports:
      - "8080:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
    restart: unless-stopped
