name: Test and Build

on:
  push:
    branches:
      - main
    paths:
      - '**/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Docker Setup
        uses: docker/setup-buildx-action@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8

      - name: Run Linting Tests
        run: |
          flake8 --ignore=E501,F401 .

      - name: Docker Credentials
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker tag
        id: version
        run: |
            VERSION=v$(date +'%Y%m%d%H%M%S')
            echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        run: |
          docker build . -t ${{ secrets.DOCKER_USERNAME }}/python-app:${{ env.VERSION }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/python-app:${{ env.VERSION }}

      - name: Update K8s Deployment
        run: |
          sed -i 's|image: rkumarmiccust/python-app:.*|image: rkumarmiccust/python-app:${{ env.VERSION }}|' deploy/deploy.yaml

      - name: Commit changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add deploy/deploy.yaml
          git commit -m "Update Docker image version to ${{ env.VERSION }}" || echo "No changes to commit"
          git push origin main
